@import models.User
@import models.Trend
@import views.viewForms.tweetForm
@(user: Option[User], tweets: List[Tweet],tweet: Form[tweetForm], trendTweets: Seq[Trend], trendHashtags: Seq[Trend])(implicit messages: Messages)

<div class="col-md-8">

@user match {
    case Some(user) => {@tweetPost(tweet)}
    case None => {}
}
@for(tweet <- tweets){
    @tweetView(tweet)
}

</div>

<div class="col-md-4">
    <h2>Hashtags</h2>
    <ul class="list-group">
        @for(trend <- trendHashtags){
            <li class="list-group-item"><a href="@routes.PageController.showHashtag(trend.trendID.get)">@trend.trendName</a></li>
        }
    </ul>
</div>

<div class="col-md-4">
    <h2>Tweets</h2>
    <ul class="list-group">
        @for(trend <- trendTweets){
            <li class="list-group-item"><a href="@routes.PageController.showHashtag(trend.trendID.get)">@trend.trendName</a></li>
        }
    </ul>
</div>

<script>
        function showBox (boxNo) {
            document.getElementById("commentArea" + boxNo).style.visibility = "visible";
            document.getElementById("showCommentBox" + boxNo).remove();
        }
</script>
