@import views.viewForms.userAuthForm

@(User : Form[userAuthForm])(implicit messages: Messages)

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@b3.form(routes.UserAuthenticationController.signInNewUser) {
    @b3.text(User("username"), '_value -> "", '_label -> "Username", 'autofocus -> "true", '_required -> "true")
    @b3.password(User("password"), '_value -> "", '_label -> "Password", '_required -> "true")
    @b3.submit('class -> "btn btn-default"){ Sign in }
}
