@import models.Tweet
@(tweet: Tweet)


    <div>
        <label class="col-sm-2 control-label">Account Name</label>
        <div class="col-sm-10">
                @tweet.tweetOwnerName
        </div>
    </div>

    <div>
        <label class="col-sm-2 control-label">Tweet</label>
        <div class="col-sm-10">
                @tweet.tweetText
        </div>
    </div>

    <form class="form-horizontal">

        <input type="hidden" name="accountID" value="@tweet.tweetOwnerID">
        <input type="hidden" name="tweetID" value="@tweet.tweetID">

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default">Like</button>
            </div>
        </div>
    </form>

    <form class="form-horizontal">

        <input type="hidden" name="accountID" value="@tweet.tweetOwnerID">
        <input type="hidden" name="tweetID" value="@tweet.tweetID">

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick="showBox(@tweet.tweetID)" class="btn btn-default" id="showCommentBox@tweet.tweetID">Comment</button>
            </div>
        </div>


        <div id="commentArea@tweet.tweetID" style="visibility: hidden">
            <div class="form-group">
                <label class="col-sm-2 control-label">Comment</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Comment</button>
                </div>
            </div>
        </div>
    </form>
